*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/

*.mp4
libero.egg-info/
.vscode/
robosuite_env/
custom_tasks/
custom_tasks_backups/
datasets/
demonstration_data/
mimicgen_examples/
artifacts/